body {
  font-size: 16px;
  color: #194866;
  background-color: #ffffea;
  font-family: 'Oxygen', sans-serif;
  padding-top: 70px;
}

/** HEADER **/
#header-nav {
  background-color: #3297e9;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 {
	color: #ffffea;
	margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-fixed-top .navbar-toggle:focus, .navbar-fixed-top .navbar-toggle:hover {
  background-color: #ff8a40;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #ffffea;
}

.navbar-fixed-top .navbar-toggle {
  border: 1px solid #ffffea;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #E7E7E7;
}

#nav-list a {
  color: #194866;
  text-align: center;
}

#nav-list a:hover, .nav-list a:focus {
  color: #ff8a40;
  background: #E7E7E7;
  border: 1px solid #ffffea;
}

h2 {
  margin-top: 10px;
}
h3 {
  font-size: 1.3em;
  text-align: center;
}

#chicken {
  background-color: white;
  min-height: 900px;
  margin-top: 25px;
}
#chicken p {
  font-size: 0.7em;
  line-height: 1.6;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
/* Desktop - md */

/* Tablet - sm */

/* Mobile - xs */
@media (max-width: 768px) {
  #main {
    margin-left: 20px;
    margin-right: 20px;
  }
}

